
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to WG Bookstore</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, et quod! Eaque, ad.
            Nemo rem inventore quos quasi explicabo maiores eligendi.
            Ratione harum vitae saepe ut id quo soluta fugit.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3>Top Books</h3>
        @*@await Component.InvokeAsync("TopBooks")*@

        <vc:top-books></vc:top-books>

        <div class="row">
            <div class="col-md-4">
                @* partial tag helper *@
                <partial name="_BookThumbnail" model="new BookModel()"/>

                @* html partial *@
                @*@Html.Partial("_BookThumbnail", new BookModel())*@
                @*@Html.PartialAsync("_BookThumbnail", new BookModel())*@
                @*@{ Html.RenderPartial("_BookThumbnail", new BookModel()); }*@
                @*@{ Html.RenderPartialAsync("_BookThumbnail", new BookModel()); }*@
            </div>
            <div class="col-md-4">
                <partial name="_BookThumbnail" model="new BookModel()"/>
            </div>
            <div class="col-md-4">
                <partial name="_BookThumbnail" model="new BookModel()"/>
            </div>
        </div>
    </div>
</div>