@model Book
@{
    ViewData["Title"] = "Add new book";
}

<div class="container">
    <h3>Add New Book</h3>
    <form asp-controller="Book" asp-action="AddNewBook" method="post">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input type="text" class="form-control" asp-for="Title">
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input type="text" class="form-control" asp-for="Author">
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <input class="form-control" asp-for="TotalPages">
        </div>
        <div class="form-group">
            <input type="submit" value="Add book" class="btn btn-primary">
        </div>
    </form>
</div>

