@model BookModel
@{
    ViewData["Title"] = "Add new book";
}

<div class="container">
    <h3>Add New Book</h3>
    <hr>
    @if(ViewBag.IsSuccess == true)
     {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations</strong> You added a new book successfully. <br>
            Click <a asp-controller="Book"
                     asp-action="GetBook"
                     asp-route-id="@ViewBag.BookId"
                     class="font-weight-bold">here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
	 }
<form asp-controller="Book" asp-action="AddNewBook" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input type="text" class="form-control" asp-for="Title">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <input type="text" class="form-control" asp-for="Author">
        <span class="text-danger" asp-validation-for="Author"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Language"></label>
        <select asp-for="Language" class="form-control" asp-items="new SelectList(ViewBag.Language)">

        </select>
        <span class="text-danger" asp-validation-for="Language"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalPages"></label>
        <input class="form-control" asp-for="TotalPages">
        <span class="text-danger" asp-validation-for="TotalPages"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add book" class="btn btn-primary">
    </div>
</form>
</div>

