@model IEnumerable<BookModel>

<div class="container">
    <h1>All book list</h1>
    <a class="btn btn-primary my-2" asp-action="AddNewBook">Add New Book</a>
    <div class="row">

        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <partial name="_BookThumbnail" model="@book" />
            </div>
        }
    </div>
</div>